
/* PROPRIETA CORPO DOM */
body {
    font-family: 'Rubik', sans-serif !important; font-weight: bold !important;
    word-spacing: 2px;
    height: 100vh !important;
    background: rgb(145,199,151);
    background: linear-gradient(180deg, rgb(8, 158, 136) 13.2%, rgb(230, 231, 225) 10%);
}

/* PALETTE COLORI */
:root {
    --color-1: #617C8C;
    --color-2: #B6E1F2;
    --color-3: #A63737;
    --color-4: #e8e8e8;
    --color-5: #262626;
    --secondary-text: #c2c2c2;
    --secondary-background: #ffffff;
}

main {
    background-color: white;
    height: 50rem !important ;
    -webkit-box-shadow: 0px 0px 10px 0px #00000022;
    -moz-box-shadow: 0px 0px 10px 0px #00000022;
    -o-box-shadow: 0px 0px 10px 0px #00000022;
    box-shadow: 0px 0px 10px 0px #00000022;

}

#lft-side {
    border-right: 1px solid #00000038;
    height: 100% !important;
}

.topbar {
    width: 100%;
    background-color: var(--secondary-background);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

img {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 3rem;
    height: 3rem;
}

.topbar i {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.alert {
    background-color: rgba(93, 214, 255, 0.656);
    width: 100%;
    height: 5.5rem;
    border-radius: 0%;
    padding: 1rem;
    margin: 0;
}

#bell-alert {
    background-color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bell-alert i {
    color: rgba(93, 214, 255, 0.656) !important;
    font-size: 1.2rem;
}

.listchat {
    width: 100%;
    height: calc(50rem - 12.6rem);
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.searchbox {
    width: 100%;
    padding: 0.4rem;
    background-color: var(--secondary-background);
    border-bottom: 1px solid rgb(217, 217, 217);
}

.textbox input.form-control  {
    padding: 0.675rem 0.75rem;
    border: none;
    background-color: rgb(248, 248, 248);
}

.chat {
    height: 4.8rem;
    display: flex;
    padding: 0.8rem;
    position: relative;
    border-bottom: solid 1.5px rgb(232, 232, 232);
}

#ora1 {
    font-size: smaller;
    position: absolute;
    top: 10px;
    right: 10px;
}

.secondary-text-color {
    color: var(--secondary-text);
}

.chat:hover {
    background-color: #eeeeee;
}

.chatbox {
    background-image: url(../img/mine.jpg);
    width: 100%;
    height: calc(42rem);
    overflow-y: scroll;
}

.textbox {
    height: 4rem;
    width: 100%;
    background-color: var(--secondary-background);
    padding: 0rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.textbox i {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin: 1rem;
}

.text {
    max-width: 22rem;
    min-width: 18rem;
    min-height: 3rem;
    margin: 0.5rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    font-weight: normal;
    background-color: white;
}

.text-receive {
    position: relative;
    margin-right: 23rem;
}
.text-send {
    background-color: antiquewhite;
    margin-left: 23rem;
    position: relative;
}

.hour {
    position: absolute;
    font-weight: lighter;
    font-size: 0.6rem;
    right: 5px;
    bottom: 0;
    margin-top: 0.6rem;
}

/* ===== Scrollbar CSS ===== */

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #00000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bcbcbc;
    border-radius: 7px;
    border: 4px solid #ffffff00;
  }

  .searchbox  .input-group-text {
    background-color: white;
    border: none;
  }

.searchbox   .form-control {
    border-radius: 0.375rem !important;
  }

.text i{
    display: none;
    position: absolute !important; 
    top: 0 !important;
    right: 4px !important;
    color: #565656;
}

.text:hover i{
    display: inline;
}
