
/* PROPRIETA CORPO DOM */
body {
    font-family: 'Rubik', sans-serif !important; font-weight: bold !important;
    word-spacing: 2px;
    height: 100vh !important;
    background: rgb(145,199,151);
    background: linear-gradient(180deg, rgb(56, 194, 146) 20%, rgba(221,221,221,1) 10%);
}

/* PALETTE COLORI */
:root {
    --color-1: #617C8C;
    --color-2: #B6E1F2;
    --color-3: #A63737;
    --color-4: #e8e8e8;
    --color-5: #262626;
    --secondary-text: #c2c2c2;
}

main {
    background-color: white;
    height: 80% !important ;
    border-radius: 4px; /*da ereditare*/
}

#lft-side {
    border-right: 2px solid #0000002a;
    height: 100% !important;
}

.topbar {
    width: 100%;
    background-color: #e9e9e9;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

img {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 4rem;
}

.topbar i {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.alert {
    background-color: rgb(112, 216, 250);
    width: 100%;
    height: 5.5rem;
    border-radius: 0%;
    padding: 1rem;
    margin: 0;
}

#bell-alert {
    background-color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bell-alert i {
    color: rgb(112, 216, 250) !important;
    font-size: 1.2rem;
}

.listchat {
    width: 100%;
    height: 74.9%;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.searchbox {
    width: 100%;
    padding: 0.4rem;
    background-color: #f0f0f0;
}

.chat {
    height: 6rem;
    display: flex;
    padding: 1rem;
    position: relative;
    border-bottom: solid 1.5px rgb(232, 232, 232);
}

#ora1 {
    font-size: smaller;
    position: absolute;
    top: 10px;
    right: 10px;
}

.secondary-text-color {
    color: var(--secondary-text);
}

.chat:hover {
    background-color: #eeeeee;
}